*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

h1{
    padding:20px;
   top:0px;
}
#lists{
    list-style-type:none ;
}
#input-box,#butt{
    padding:8px;
    margin-top:20px;
}
body {
    background-color: mediumslateblue;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    text-align:center;
}
#butt{
    padding:10px;
    background-color: mediumslateblue;
    border-radius: 12px;
    border:2px solid white;
    color:white;
}